

.wrapper{
  position: relative;
  width: 100%;
  top: 100px;
  box-sizing: border-box;
  padding: 25px 60px 30px 60px;
}
.update_info_section{
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.update_info_section h2{
  font-size: 30px;
  position: absolute;
  top: 10px;
}
.add_apartment{
  width: 100%;
}

.apartment_layout{
  width: 100%;
  min-height: 400px;
}